/*-- scss:defaults --*/
$primary:   #2e7d6b;   // vert profond
$secondary: #7a8b86;   // gris-vert
$body-bg:   #f6f8f7;
$body-color:#1f2523;

$navbar-bg: #0f1f1b;
$navbar-fg: #e6efe9;
$navbar-hl: $primary;

$link-color: $primary;
$code-bg:   #eef3f1;

$border-radius:       .55rem;
$btn-border-radius:   .55rem;

/*-- scss:rules --*/
