/*-- scss:defaults --*/
$primary:   #7fd3b9;   // vert clair (contraste sur fond sombre)
$secondary: #9ab3ad;
$body-bg:   #0e1513;
$body-color:#e3e9e6;

$navbar-bg: #0b1311;
$navbar-fg: #dce9e4;
$navbar-hl: $primary;

$link-color: $primary;
$code-bg:   #0f1a17;

$border-radius:       .55rem;
$btn-border-radius:   .55rem;

/*-- scss:rules --*/
